<div class="row">
    <div class="col-md"></div>
    <div class="col-md register-form">
        <p class="heading">Register</p>
        <div class="container">
            <form>
                <div class="form-group">
                    <label for="userName" class="register-label">Username</label>
                    <input type="text" id="userName" class="form-control register-input">
                </div>
                <div class="form-group">
                    <label for="name" class="register-label">Name</label>
                    <input type="text" id="name" class="form-control register-input">
                </div>
                <div class="form-group">
                    <label for="email" class="register-label">Email</label>
                    <input type="email" id="email" class="form-control register-input">
                </div>
                <div class="form-group">
                    <label for="password" class="register-label">Password</label>
                    <input type="password" id="password" class="form-control register-input">
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="register-label">Confirm Password</label>
                    <input type="confirmPassword" id="password" class="form-control register-input">
                </div>
                <p><input type="checkbox"> Accept the terms and conditions</p>
                <button class="btn register-button">Register</button>
            </form>
            <hr class="register-hr">
            <div class="login">
                <p>Already have an account?</p>
                <button class="btn login-button">Login</button>
            </div>
        </div>
    </div>
    <div class="col-md"></div>
</div>