<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
              <a class="nav-link" routerLink = "login" routerLinkActive = "active">Login</a>
          </ul>
          <ul class="navbar-nav mr-auto">
              <a class="nav-link" routerLink = "register" routerLinkActive = "active">Register</a>
          </ul>
      </form>
  </div>
</nav>